SUPABASE_URL=https://PROJECT_ID.supabase.co/
SUPABSE_SERVICE_ROLE_KEY=YOUR LOCAL SECRRET KEY
SUPABASE_PUBLISHABLE_KEY=YOUR LOCAL OPEN KEY
BACKEND_URL=www.example.onrender.com || change it to your actual backend ednpoint